{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}

    <p>{{ post.body }}</p>

    <p><a href="{{ path('blog_post_edit', {'slug': post.slug}) }}">Edit</a></p>
    <p><a href="{{ path('blog_post_delete', {'slug': post.slug}) }}">Delete</a></p>
    <p><a href="{{ path('blog_posts') }}">To main page</a></p>

{% endblock %}
