{% extends 'base.html.twig' %}

{% block body %}
    <h5>Congratulations!</h5>
    <p>Your account has successfully confirmed, now you can
        <a href="{{ path('login') }}"> sign in</a>
    </p>
{% endblock %}